.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

select[multiple] { 
  height: auto;
  overflow-y: hidden;
}

.quilt-wrapper {
  width: 80vmin;
  height: 90vmin;
}


.settings,
.summary {
  width: 80vmin;
  flex-direction: row;
  padding: 1em;
}


.quilt {
  width: 80vmin;
  height: 80vmin;
  display: grid;
  justify-items: stretch;
}
.quilt-wrapper {
  margin: 0.5em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.quilt .block {
  align-self: stretch;
}

.border {
  width: 80vmin;
  height: 5vmin;
  background-color: #f9f9fb
}
.mediterranean {
  height: 100%;
  width: 100%;
  position: relative;
}
.mediterranean div {
  border-top: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid transparent;
}

.mediterranean .top {
  position: absolute;
  top: 0;
  cursor: pointer;
}

.mediterranean .bottom { 
  position: absolute;
  bottom: 0;
  cursor: pointer;
}

.mediterranean.left .top { 
  right: 0;
  border-top-color: black;
  border-right-color: black;
  border-bottom-color: transparent ! important;
  border-left-color: transparent ! important;
}

.mediterranean.left .bottom { 
  left: 0;
  border-top-color: transparent ! important;
  border-right-color: transparent ! important;
  border-bottom-color: black;
  border-left-color: black;
}

.mediterranean.right .top { 
  left: 0;
  border-top-color: black;
  border-left-color: black;
  border-bottom-color: transparent ! important;
  border-right-color: transparent ! important;

}
.mediterranean.right .bottom { 
  right: 0;
  border-top-color: transparent ! important;
  border-right-color: black;
  border-bottom-color: black;
  border-left-color: transparent ! important;
}

.field {
  display: flex;
  flex-direction: column;
}

.field.checkbox { 
  flex-direction: row;
  align-items: center;
}

.summary-list {
  display: flex;
  justify-content: space-around;
}

.summary .triangle {
  width: 0; 
  height: 0;
  display: inline-block;
  border-width: 10px;
  border-style: solid;
  border-right-color: transparent ! important;
  border-bottom-color: transparent ! important;
}

.summary .hexagon {
  width: 30px;
  height: 30px;
  display: inline-block;
}
.summary .hexagon div { 
  border-width: 7px;
  border-color: white ! important;
}

@media(min-width: 600px) {
  .mediterranean div {
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
  }
}

@media(min-width: 950px) {
  .mediterranean div {
    border-top: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid transparent;
  }
}

@media(orientation: landscape) {
  .App {
    flex-direction: row;
    align-items: flex-start;
  }

  .settings,
  .summary {
    width: 10vw;
  }

  .summary-list {
    flex-direction: column;
  }
}
